* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

nav {
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    gap: 10rem;

}

.logo {
    min-width: 8vh;
    max-width: 10vh;
}