

.logo {
    width: 4rem;
}

.ofertas {
    height: 11rem;
    background-image: url("../images/textura_parallax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.busqueda {
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
} 

.hover-gray:hover {
    background-color: #ccc;
}

.card:hover {

}

.card img{
    height: 16rem;
}
